<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About DaBoys </h1>
    <p> We are a small group of coders located in the small town of Spartanburg.</p>
    <p> We want to learn and grow our coding skills so we decied to create this 
        useful tool that can help anyone decide if going solar is good for them.</p>
      
    {% endblock %}
  </body>
</html>