<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>My Example</title>


</head>
<body>
  {% extends "template.html" %}
  {% block content %}
    
  <h1> Are Solar Panels a Good Choice for Me? </h1>

  <form method="post">
    <label for="zipcode">Zipcode</label>
    <input name="zipcode" id="zipcode" required>
    <label for="electricity_bill">Electricity Bill</label>
    <input name="electricity_bill" id="electricity_bill">
    <label for="date">Date (MM/DD/YYYY)</label>
    <input name="date" id="date" required>
    <input type="submit" value="Submit">
  </form>

  {% endblock %}
</body>
</html>