<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Solar Panels Worth It?</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Are Solar Panels a Good Choice for Me? </h1>

    <form action="/action_page.php">
      <label for="zipcode">Zipcode:</label><br>
      <input type="text" id="zipcode" name="zipcode"><br>
      <label for="electric_bill">Monthly Electricity Bill:</label><br>
      <input type="text" id="electric_bill" name="electric_bill"><br><br>
      <input type="submit" value="Submit">
    </form>
    
    {% endblock %}
  </body>
</html>